<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link width="" rel="shortcut icon" href="/images/favicon2.png" />

    <title>Mordisco - <%= product.name %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>

  <body>
    <%- include("./partials/header") %>

    <div class="container products-wrapper">
      <div class="d-flex align-items-center">
        <h2 class="products-title"><%=product.name%></h2>
        <p class="product-detail-description">
          <a href="/products/edit">Editar</a>
        </p>
      </div>

      <div class="product-detail">
        <div class="row">
          <article class="col-12 col-lg-8 product-detail-info">
            <img
              src="/images/products/<%=product.image%>"
              alt=""
              class="product-detail-img"
            />
            <p class="product-detail-description"><%=product.description%></p>
          </article>

          <div class="col-12 col-lg-4">
            <section class="comments">
              <% for( let i = 0; i < product.comments.length; i++ ) { %>
              <article>
                <img
                  src="/images/users/<%=product.comments[i].user.profilePicture%>"
                  alt=""
                />
                <div class="data">
                  <p class="user">
                    <strong>
                      <a href="/users/profile/<%=product.comments[i].user.id%>">
                        <%=product.comments[i].user.username%>
                      </a>
                    </strong>
                    <%=product.comments[i].comment%>"
                  </p>
                </div>
              </article>
              <% } %>
            </section>
            <form
              class="form"
              action="/products/comment/<%=product.id%>"
              method="POST"
            >
              <input
                class="form-input"
                type="text"
                name="comment"
                id="comment"
                placeholder="Agregar comentario"
              />
              <button type="submit" class="comment-button">
                AGREGAR COMENTARIO
              </button>
            </form>
            <hr />
          </div>
        </div>
      </div>
    </div>

    <%- include("./partials/footer") %>
  </body>
</html>
