<!DOCTYPE html>
<html lang="es">
  <!-- Include Head -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link width="" rel="shortcut icon" href="/images/favicon2.png" />

    <title>Mordisco</title>
    <!-- Font Awesome Stylesheet -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />

    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css" />

    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>

  <body>
    <%- include("./partials/header") %>

    <div class="container products-wrapper">
      <div class="d-flex align-items-center">
        <h2 class="products-title"><%=product.name%></h2>
        <p class="product-detail-description">
          <a href="/products/product-edit">Editar</a>
        </p>
      </div>

      <div class="product-detail">
        <div class="row">
          <article class="col-12 col-lg-8 product-detail-info">
            <img
              src="../public/images/products/<%=product.image%>"
              alt=""
              class="product-detail-img"
            />
            <p class="product-detail-description">
              <%=product.description%>
            </p>
          </article>

          <div class="col-12 col-lg-4">
            <section class="comments">
              <% for( let i = 0; i < product.comments.length; i++ ) { %>
              <article>
                <img
                  src="<%=product.comments[i].userId%>"
                  alt=""
                />
                <div class="data">
                  <p class="user">
                    <strong>
                      <a href="/users/profile"
                        ><%=product.comments[i].userId%>
                      </a>
                    </strong>
                    <%=product.comments[i].comment%>
                  </p>
                </div>
              </article>
              <% } %>
            </section>
            <form
              class="form"
              action="/products/<%=product.id%>"
              method="GET"
            >
              <input
                class="form-input"
                type="text"
                value=""
                placeholder="Agregar comentario"
              />
              <button type="submit" class="buy-now-button">
                AGREGAR COMENTARIO
              </button>
            </form>
            <hr />
          </div>
        </div>
      </div>
    </div>
    <!-- /product detail -->

    <%- include("./partials/footer") %>
    <!-- /footer -->
  </body>
</html>
